<!DOCTYPE html>
<html lang="en" page={{page}}>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/stylesheets/application.css"/>
</head>
<body>
<div ui-view class="container"></div>


<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="node_modules/systemjs/dist/system.js"></script>
<script src="system.config.js"></script>
<script>
    System.import('assets/javascripts/application');
</script>

</body>
</html>