.sidebar {
  $action-color: #477DCA !default;
  $sidebar-border-color: $gray-dark;
  $sidebar-background: #fff;
  $sidebar-color: $gray-dark;
  $sidebar-border: 1px solid $sidebar-border-color;
  $sidebar-background-hover: $action-color;
  $sidebar-color-hover: #fff;
  $sidebar-background-focus: lighten($sidebar-background, 5%);
  @include material-box-shadow(1);

  background: $sidebar-background;

  &-content {
    li a {
      color: $sidebar-color;

      &:focus {
        background-color: $sidebar-background-focus;
      }

      &:hover {
        background-color: $sidebar-background-hover;
        color: $sidebar-color-hover;
      }
    }
  }

  &-info {
    @include background-image(linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, 1) 100%), url("http://technext.github.io/Evento/images/demo/bg-slide-01.jpg"));
    .account {
      @include background(linear-gradient(top, rgba(0, 0, 0, .4) 100%, rgba(0, 0, 0, 0) 0));
      @include transition(all .2s);

      &:hover {
        @include background(linear-gradient(top, $gray-darker 100%, rgba(0, 0, 0, 0) 0));
        @include transition(all .2s);
      }

      a {
        text-decoration: none;
        color: whitesmoke;

        .profile-link {
          &:first-letter {
            text-transform: uppercase;
          }
          color: $gray-light;
        }

        &:hover {
          color: white;
        }
      }

    }
  }

  &-toggle {
    box-shadow: none !important;
    background-color: transparent;
    border-color: transparent;

    &:hover {
      border-color: transparent;
    }
  }

  &-backdrop {
    background: $gray-darker;
  }
}