.sidebar {
  @include position(fixed, 0 auto 0 0);
  @include size(320px 100%);

  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;

  @include transform(translateX(-320px));
  @include transition(all .1s ease-out);
  z-index: 999999;

  &-info {
    height: 240px;
    background-size: cover;
    position: relative;

    .account {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 80px;
      width: 100%;

      &-user {
        @include v-center();
        @include make-md-column(8);
      }

      &-image {
        @include v-center();
        @include make-md-column(4);
        text-align: right;

        img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }

  &-content {
    overflow-y: scroll;

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;

        a {
          display: block;
          font-weight: bold;
          padding: $base-padding;
          text-decoration: none;
        }
      }
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }

  &-toggle {
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    margin-right: 8px;
    border-radius: 50%;
    padding: 6px 10px;
  }

  &-backdrop {
    @include position(fixed, 0);

    opacity: 0;
    @include transition(all .1s ease-out);
    visibility: hidden;
    z-index: 999998;

    &.is-visible {
      opacity: 0.2;
      visibility: visible;
    }

  }
}

// Based on code by Diego Eis
