.login-view {
  @include v-center();

  @include make-xs-column(10);
  @include make-xs-column-offset(1);

  @include make-sm-column(6);
  @include make-sm-column-offset(3);
  @include make-md-column(4);
  @include make-md-column-offset(4);

  form {
    label, button {
      text-transform: capitalize;
    }

    button {
      width: 100%;
      display: block;
    }

    input {
      @include placeholder {
        text-transform: capitalize;
      }
    }
  }

  padding: $padding-large-horizontal;
  background: white;
  @include material-box-shadow;

}

html[page='login'] {
  &, body, .container:first-of-type {
    height: 100%;
    margin-top: 0;
  }

  body {
    background: whitesmoke;

    &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      height: 50%;
      width: 100%;
      background: $brand-primary;
    }
  }
}